:root {
    --dark-theme: #0E0E0E;
    --blue: #029BE7;
    --red: #FF0000;
}

html,
body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    color: rgb(218, 218, 218);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

i {
    width: 16px;
    height: 16px;
    display: flex;
    margin-right: 5px;
}

.btn {
    display: inline-flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.input-style,
.input-style:focus {
    color: #fff;
    background-color: #414141;
    border: none;
    border-radius: 20px;
    outline: none;
    text-indent: 6px;
    height: 40px;
}

.input-style::placeholder {
    font-family: 'Open Sans';
    font-size: 1rem;
    color: #919191;
}

.bg-dark {
    background-color: var(--dark-theme) !important;
}

.background-theme {
    background-image: radial-gradient(circle at 98.4% 62.97%, #0b0f0f 0, #0b0f0f 25%, #0e0e0e 50%, #0e0e0e 75%, #0e0e0e 100%);
}

.background-image {
    margin-top: -1px;
    background: linear-gradient(to top, var(--dark-theme), rgba(14, 14, 14, 0)), url(../imagens/banner-home.jpg);
    background-position: center right;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.topo .container-fluid {
    width: 95%;
}

#home-logo {
    position: relative;
    top: 1em;
    width: 15em;
}

/* Mobile */
@media (max-width: 575px) {
    .padding-bottom-mb {
        padding-bottom: 50px;
    }

    #home-logo {
        width: 11em;
    }
}

.wrapper-conteudo {
    height: 100vh;
}

.titulo-h1 {
    line-height: 0.8;
    padding: 100px 0
}

/* Mobile */
@media (max-width: 575px) {
    .titulo-h1 {
        padding: 100px 0 0 0;
    }
}

.titulo-h1 h1 {
    line-height: 1.2;
}


.titulo-h1 span {
    font-size: 10vw;
    font-weight: 300;
    display: block;
    text-transform: capitalize;
}

.titulo-h1 i {
    font-size: 6vw;
    font-family: 'Open Sans';
    font-weight: 400;
    color: var(--blue);
}

/* Mobile */
@media (max-width: 575px) {
    .titulo-h1 span {
        font-size: 17vw;
    }

    .titulo-h1 i {
        font-size: 3rem;
        font-family: 'Open Sans';
        font-weight: 400;
        color: var(--blue);
    }
}

.cover-image-section {
	width: 100%;
	height: 10rem;
	background-image: linear-gradient(#1d1d1d, #30303000);

}
.cover-hader-site {
	position: relative;
	width: 90vw;
	max-width: 1250px;
	height: 100%;
	margin: auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6)
}
.cover-hader-site img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	border-radius: 0px 0px 10px 10px;
}

.cover-image-div {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
}

.cover-image-edite-btn {
	text-align: right;
}

.cover-image-edite-btn button {
	padding: 7px 10px;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: 20px;
	font-size: 13px;
	cursor: pointer;
	border: none;
	outline: none;
}

.cover-image-edite-btn button:hover {
	background-color: #d5d5d5;
}

.profile-section {
	width: 100%;
}
.profile-section-in {
    width: 90vw;
    max-width: 1250px;
    height: 120px;
	margin: auto;
	display: grid;
	grid-template-columns: 0fr 1fr;
}

.profile-section-under {
    width: 90vw;
    max-width: 1250px;
    height: 40px;
	display: grid;
	grid-template-columns: 4fr 4fr;
	justify-items: center;
	margin-top: 6px;
    margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.line {
	margin: 0 auto;
	width: 90vw;
	border-bottom: 1px solid #3335;
}

.profile-image-div {
	position: relative;
    min-width: 6rem;
    min-height: 6rem;
    width: 16vw;
    height: 16vw;
    max-width: 125px;
    max-height: 125px;
    border: .37rem solid #0E0E0E;
    margin-left: 20px;
    transform: translateY(-50%);
    background-color: #333;
    border-radius: 50%;
}
.profile-image-div img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
	transition: 0.3s;
}
.profile-image-div img:hover {
	filter: brightness(0.9);
} 

.profile-image-div span {
	position: absolute;
	right: 5px;
	bottom: 5px;
	cursor: pointer;
	padding: 5px 5px;
	border-radius: 50%;
	background-color: #d5d5d5;
	color: #333;
}

.profile-name-info {
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-name-info h1 {
    margin: 5px 0 0 10px;
    display: inline-block;
    font-size: 25px;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}
.profile-name-info p {
	font-size: 14px;
	color: #333;
	margin-left: 5px;
	margin-bottom: 0;
}
.profile-name-info p span {
	cursor: pointer;
}
.profissionais-header {
    margin: 12px 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}
.profissionais-header img {
	width: 35px;
	height: 35px;
	cursor: pointer;
    border-radius: 50%;
}

.profile-button-site .btn {
	font-size: 1rem;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.navtab {
    background-color: #0E0E0E;
}

.navtab .nav-link {
    color: white;
    font-family: 'Open Sans';
    border-radius: 0;
    border-bottom: 2px solid transparent;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.navtab .nav-link.active {
    background-color: #0E0E0E;
    border-bottom: 2px solid white;
    color: white;
}

.navtab .nav-item {
    flex: 1;
}

@media screen and (max-width: 575px) {

	.cover-hader-site img {
		border-radius: 0px 0px 10px 10px;
		cursor: pointer;
	}

	.profile-name-info {
		flex-direction: column;	
		justify-content: flex-start;
		align-items: stretch;
	}
}