/* Estilos para centralizar o conteúdo */
body, html {
    background-color: #121212;
    height: 100vh; /* Garante que o fundo cubra 100% da altura da tela */
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* Estilo do card do formulário */
.card {
    max-width: 400px;
    margin: auto;
    border: none;
    border-radius: 12px;
    background-color: #1f1f1f !important;
    padding: 20px;
    position: relative;
}

/* Estilo para o botão de voltar */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.back-button:hover {
    color: #ccc;
}

/* Outros estilos */
.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

.btn-custom {
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

#backBtn, #backBtn2 {
    background-color: #f0ad4e;
}

#backBtn:hover, #backBtn2:hover {
    background-color: #ec9a1f;
}

#finishBtn {
    background-color: #5cb85c;
}

#finishBtn:hover {
    background-color: #4cae4c;
}

#nextBtn, #nextBtn2 {
    background-color: #0275d8;
}

#nextBtn:hover, #nextBtn2:hover {
    background-color: #025aa5;
}

.btn-custom i {
    font-size: 1.2em;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select {
    background-color: #2d2d2d;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="tel"]::placeholder, input[type="password"]::placeholder, select {
    color: #bbb;
}

select {
    background-color: #2d2d2d !important;
    color: #fff !important;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 10px;
    appearance: none;
    outline: none;
}

select:focus {
    background-color: #2d2d2d !important;
    color: #fff !important;
    border: 1px solid #0d6efd;
    outline: none;
    box-shadow: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, input[type="password"]:focus {
    background-color: #2d2d2d;
    color: #fff;
    outline: 2px solid #0d6efd;
    box-shadow: none;
}

.form-label {
    color: #e0e0e0;
}

.card h2 {
    color: #e0e0e0;
    padding-left: 40px;
}

.form-check.form-switch {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 0.5rem;
}

.form-check-label {
    color: #e0e0e0;
}
