@charset "UTF-8";

@font-face {
	font-family: 'K2D-Regular';
	src: url("../fontes/KD2/K2D-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'K2D-ExtraLight';
	src: url("../fontes/KD2/K2D-ExtraLight.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'Norican';
	src: url("../fontes/Norican/Norican-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'Inter-ExtraLight';
	src: url("../fontes/Inter/Inter-ExtraLight.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'Inter-Light';
	src: url("../fontes/Inter/Inter-Light.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'Almarai-Light';
	src: url("../fontes/Almarai/Almarai-Light.ttf");
	font-size: 1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
body {
    background-color: #1d1d1d;
}
.container {
    display: grid;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.home-header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 55px;
}
.home-header nav {
    position: relative;
    z-index: 10;
    display: flex;
    text-align: center;
    width: 100%;
    height: 55px;
}
.home-header ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    
}
.home-header li {
    color: #fff;
}
#user-icon{
    width: 24px;
    height: 24px;
    border-radius: 12px;
}
#menu-icon{
    width: 24px;
    height: 24px;
}
.logotipo img{
    position: relative;
    height: 40px;
}
.a-logotipo {
    position: relative;
    top: 15px;
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin: -55px 0 0 0;
    padding: 0;
    width: 100vw;
    height: 47vh;
    padding-top: 55px;
    background-image: url(/imagens/banner-home.jpg);
    background-size: cover;
    background-position: center right;
}
.banner-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
    width: 90vw;
}
.text-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10px;
    color: #fff;
}
.text-banner h1,h2 {
    margin: 0;
    padding: 0;

}
.text-banner h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
    font-size: 5.9vh;
    font-family: 'K2D-Regular';
}
.text-banner h2 {
    display: flex;
    justify-content: flex-end;  
    font-size: 5.8vh;
    font-family: 'Norican';
    margin-top: -20px;
    margin-right: -10px;
}
.barbearias-link {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.barbearias-link a {
    display: inline-block;
    width: 150px;
    height: 40px;
    
    padding: 7px 15px;  
    border: solid 1px #fff;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter-Light';
    text-align: center;
    align-content: center;
    transition: 0.2s;
}
.barbearias-link a:hover {
    background-color: #ffffff75;
    transition: 0.3s;
    border-radius: 10px;
}
.outdoor {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 34vh;
    padding: 0 20px;
    background:
    radial-gradient(circle at 20% 50%, #2D2D2D, transparent),
    radial-gradient(circle at 50% 50%, rgba(68, 68, 65, 0.6), transparent),
    radial-gradient(circle at 80% 50%, rgba(41, 41, 41, 0.6), transparent);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .7);
}
.outdoor .rect{
    height: 120px;
}
.outdoor-content {
    display: flex;
    text-align: start;
    align-items: center;
}
.outdoor-content h2 {
    text-shadow: 0px 0px 10px #000;
    color: #fff;
    font-size: 2.2em;
    font-family: 'Almarai-Light';

}
.outdoor-content span {
    text-transform: uppercase;
    font-family: 'K2D-ExtraLight';
    color: #029BE7;
}
.faixa-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 81vh);
}
.faixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80%;
    background: linear-gradient(to right, #02151C, #003437);
}
.faixa h3 {
    text-shadow: 0px 0px 5px#000;
    color: #fff;
    font-family: 'Inter-ExtraLight';
    font-size: 28px;
    margin: 0;
}
.faixa a {
    text-shadow: 0px 0px 5px#000;   
    color: #029BE7;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Inter-ExtraLight';
    text-decoration: none;
    transition: 0.2s;
}

.faixa a:hover{
    text-shadow: 0 0 20px #029BE7;
    font-size: 27px;
    transition: 0.3s;
}

.barbearias {
    background-color: #1C1E21;
}

form {
    display: grid;
    gap: 10px;
}
.main-form{
    display: block;
    text-align: start;
    color:#fff;
    width: 90%;
    margin: 33px auto;
}

.first-form-content-size {
    background-color: #0E0E0E;
    margin-top: -25px;
    padding: 0 20px 50px 20px;
    height: fit-content;
    border-radius: 20px;
}

.second-form-content-size {
    margin: 0  0 20px 0;
    background-color: #0E0E0E;
    height: fit-content;
    padding: 0 20px 0 20px;
    border-radius: 20px;
}

.second-form-content-size .container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    height: fit-content;
    padding: 0;
    justify-content: center;
}

.second-form-content-size .container div {
    height: fit-content;
}


.main-form img {
    margin-left: auto;
}

.main-form h2 {
    font-size: 36px;
    font-family: 'Inter-ExtraLight';
    display: block;
    margin-top: 30px;
}

legend
{
    font-size: 16px;
    font-family: 'Inter-ExtraLight';
    margin: 5px 0;
}

.main-form input {
    color: #fff;
    height: 40px;
    background-color: #1C1E21;
    border: 0;
    border-radius: 8px;
    width: 100%;
}

.main-form button {
    width: 120px;
    height: 50px;
    
    --bs-btn-border-color: #fff;
    --bs-btn-hover-bg: rgba(190, 190, 190, 0.5);
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-active-bg: #ffffff6e;
    --bs-btn-active-border-color: #ffffff;
    --bs-btn-font-size: 18px;
    --bs-btn-font-family: 'Inter Extralight';
    --bs-btn-border-radius: 0;
    --bs-btn-bg: linear-gradient;
}

.barbearias header {

}

